body {
	font-family: arial;
	font-size: 42px;
}

textarea {
	font-size: 42px;
}

#wrapper {
	width: 100%;
}

#timer {
	text-align: center;
	padding: 14px;
	font-size: 42px;
	background: #563d7c;
	color: #fff;
	letter-spacing: 2.5px;
}

#phraseContainer, #textArea {
	width: 95%;
	height: 20%;
	margin: 2% 10px;
	line-height: 1.5;
	border: 2px solid #563d7c;
	border-radius: 5px;
	padding: 10px;
	overflow-y: scroll;
		font-family: arial;

}

#paraContainer {

}

#textArea {

}

#newTestWindow, #block, #finishWindow{
	background: #CCC;
  	height: 100%;
  	width: 100%;
  	top: 0;
  	left: 0;
	position: absolute;
	overflow: hidden;
	display: none;
}

#block {
	background: rgba(0, 0, 0, 0.6);
}

#countdown{
  	height: 100%;
  	width: 100%;
  	font-size: 192px;
  	text-align: center;
  	margin: 25% 0;
}


.modalBox {
	background: #fff;
	text-align: center;
	border-radius: 10px;
	padding: 80px 40px;
}

.modalBox .button {
	padding: 25px;
	border-radius: 10px;
	background: #22A7F0;
	border: 2px solid transparent;
	color: #fff;
}

